.jumbotron {
  padding-top: 6rem;
  background-color: #eff9bb;
}

.row {
  padding-top: 4rem;
}

.row row-cols-4 {
  padding: 10px;
}

.nct127 {
  padding-top: 2rem;
}

.col {
  padding-top: 10px;
  padding-bottom: 10px;
}

.col-2 {
  padding: 10px;
}
